.container{
    background-color: rgb(52, 180, 180);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50pc;
    height: 20pc;
}

.counter{
    text-align: center;
    margin: auto;
    padding: 30px;
}
.counter-control{
    margin: 30px;;
    padding: 20px;
    font-style: italics;
}
.value{
    color: brown;
    background-color: bisque;
}